version: "3.9"

services:
  bind-master:
    build: .
    image: croody/bind-master:latest
    container_name: bind-master
    environment:
      DNS_ROLE: master
      DNS_DOMAIN: ${DNS_DOMAIN:-croody.app}
      TSIG_KEY_NAME: ${TSIG_KEY_NAME:-master-xfer}
      TSIG_KEY_SECRET: ${TSIG_KEY_SECRET:-changeme-base64==}
      NS1_FQDN: ns1.${DNS_DOMAIN:-croody.app}.
      NS2_FQDN: ns2.${DNS_DOMAIN:-croody.app}.
      ALLOW_QUERY: "any;"
      ALLOW_TRANSFER: "${SLAVE_IP:-127.0.0.1};"
      NOTIFY_TARGETS: "${SLAVE_IP:-127.0.0.1};"
    volumes:
      - ./bind-master/zones:/zones
      - ./bind-master/keys:/keys
      - bind-master-cache:/var/cache/bind
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - dns-private

  bind-slave:
    build: .
    image: croody/bind-slave:latest
    container_name: bind-slave
    environment:
      DNS_ROLE: slave
      DNS_DOMAIN: ${DNS_DOMAIN:-croody.app}
      TSIG_KEY_NAME: ${TSIG_KEY_NAME:-master-xfer}
      TSIG_KEY_SECRET: ${TSIG_KEY_SECRET:-changeme-base64==}
      MASTER_IP: ${MASTER_IP:-127.0.0.1}
      NS1_FQDN: ns1.${DNS_DOMAIN:-croody.app}.
      NS2_FQDN: ns2.${DNS_DOMAIN:-croody.app}.
      ALLOW_QUERY: "any;"
    volumes:
      - ./bind-slave/zones:/zones
      - ./bind-slave/keys:/keys
      - bind-slave-cache:/var/cache/bind
    expose:
      - "53/tcp"
      - "53/udp"
    networks:
      - dns-secondary

volumes:
  bind-master-cache:
  bind-slave-cache:

networks:
  dns-private:
    driver: bridge
  dns-secondary:
    driver: bridge
