# Export before running docker compose up bind-master
DNS_ROLE=master
DNS_DOMAIN=croody.app
NS1_FQDN=ns1.croody.app.
NS2_FQDN=ns2.croody.app.
ALLOW_QUERY="any;"
ALLOW_TRANSFER="10.0.220.10;"
NOTIFY_TARGETS="10.0.220.10;"
SOA_EMAIL=hostmaster@croody.app
MASTER_IP=10.0.120.10
source ./keys/tsig.env
