# Export before running docker compose up bind-master
DNS_ROLE=master
DNS_DOMAIN=croody.app
NS1_FQDN=ns1.croody.app.
NS2_FQDN=ns2.croody.app.
ALLOW_QUERY="any;"
ALLOW_TRANSFER="172.31.71.231;"
NOTIFY_TARGETS="172.31.71.231;"
SOA_EMAIL=hostmaster@croody.app
MASTER_IP=172.31.42.77
source ./keys/tsig.env
